body {
  background-color: hsl(0, 0%, 95%);
}
h1 {
  font-family: "Big Shoulders Display";
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  margin: 2.5rem 0 2.5rem 0;
}

p {
  font-family: "Lexend Deca";
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  display: block;
  margin: 6rem 1rem 0 1rem;
  padding: 3.5rem 3.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  display: block;
  margin: 0rem 1rem 0 1rem;
  padding: 3.5rem 3rem 3rem 3rem;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  display: block;
  margin: 0rem 1rem 0 1rem;
  padding: 3.5rem 3rem 3rem 3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

button {
  border: none;
  font-family: "Lexend Deca";
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.5rem;
  width: 9rem;
  height: 3rem;
  margin: 1.5rem 0 0 0;
}

#botaoSedans:hover {
  border: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(31, 77%, 52%);
}

#botaoSedans {
  color: hsl(31, 77%, 52%);
}

#botaoSuvs:hover {
  border: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(184, 100%, 22%);
}

#botaoSuvs {
  color: hsl(184, 100%, 22%);
}

#botaoLuxury:hover {
  border: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
}

#botãoLuxury {
  color: hsl(179, 100%, 13%);
}

.attribution {
  display: block;
  margin: 3rem 0 0 0;
}

@media screen and (min-width: 960px) {
  .cards {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sedans {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0rem;
  }

  .suvs {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
  }

  .luxury {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
